.nav-a a {
    color: #666;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 18px;
    position: relative;
    border-radius: 5px;
    transition: .3s;
    text-decoration: none;
}

.nav-a a:hover {
    color: #fff;
    background-color: #007500;
}

.login-info {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: start;
    grid-column-gap: 0; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.login-photo {
    border-radius: 50%;
    width: 15%;
}

.logout-btn:hover {
    background-color: #F8F9FA !important;
    color: #666 !important;
}





/* 
==================================================
                    Media Query
==================================================
*/

@media screen and (max-width: 480px) {
    .brand-logo img {
        width: 50%;
    }
}